In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
def connect_to_mysql():
    try:
        connection = mysql.connector.connect(
            host='localhost',       
            user='uma',             
            password='uma1608@', 
            database='customers'   
        )
        print("connected.")
        return connection
    except Error as e:
        print(f"Error:{e}")
        return None

connect_to_mysql()

connected.

In [3]:
def add_customer(connection, data):
    cursor = connection.cursor()
    cursor.execute("""
        INSERT INTO customers (
            `CustomerIndex`, CustomerID, FirstName, LastName, Company, City,
            Country, Phone1, Phone2, Email, SubscriptionDate, Website
        )
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, data)
    connection.commit()
    print("Customer added.")

In [4]:
data1 = ('121', 'CUSTyaedoh1001', 'Alice', 'Johnson', 'Tech Corp', 'Mumbai', 'India',
         '9876543210', '0123456789', 'alice@example.com', '2025-05-11', 'http://alicecorp.com')

data2 = ('122', 'CUSTkahdasuodf1002', 'Bob', 'Smith', 'Global Ltd', 'Delhi', 'India',
         '9988776655', '0112233445', 'bob@global.com', '2025-04-20', 'http://globalltd.com')

data3 = ('123', 'CUSoauhdhgT1003', 'Charlie', 'Lee', 'NextGen', 'Bangalore', 'India',
         '9001122334', '0809988776', 'charlie@nextgen.com', '2025-03-15', 'http://nextgen.com')

data4 = ('124', 'CUSTkhasuid1004', 'Diana', 'Martinez', 'VisionTech', 'Chennai', 'India',
         '9234567890', '0441234567', 'diana@vision.com', '2025-02-10', 'http://visiontech.com')

data5 = ('125', 'CUSTkajduiwa1005', 'Ethan', 'Clark', 'InnoSoft', 'Hyderabad', 'India',
         '9345678901', '0402345678', 'ethan@innosoft.com', '2025-01-05', 'http://innosoft.com')
add_customer(connection, data1)
add_customer(connection, data2)
add_customer(connection, data3)
add_customer(connection, data4)
add_customer(connection, data5)

NameError: name 'connection' is not defined